* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accountBalance {
  font-size: 50px;
  margin: 10px;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 10px;
}

.flex {
  display: flex;
  width: 100%;
}

.flex > * {
  width: 33%;
  margin: 10px;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 10px;
}
